<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Properties>
        <!-- Setting for creating log file for each run -->
        <property name="filePattern">${date:yyyy-MM-dd-HH_mm_ss}</property>
    </Properties>

    <Appenders>
        <!-- Setting for creating log file for each run -->
        <File name="File" fileName="app_${filePattern}.log" append="false">
            <PatternLayout
                    pattern="%d{yyyy-MMM-dd HH:mm:ss a} [%t] %-5level %logger{36} - %msg%n" />
        </File>
        <!-- Setting for creating log file on each day basis -->
        <!--Uncomment this if you want ROLLING File i.e. logs will be in the same file for each day.-->
        <!-- A rolling file Example-->
        <RollingFile name="fileLogger" fileName="app-info.log" filePattern="app-info-%d{yyyy-MM-dd}.log">
            <PatternLayout>.
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
        </RollingFile>
        -->

        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout   pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n" />
        </Console>
    </Appenders>
    <Loggers>

        <Root level="debug" additivity="false">
            <appender-ref ref="File" />
            <appender-ref ref="console" />
        </Root>
    </Loggers>
</Configuration>
        <!--
        <Logger name="com." level="debug" additivity="true">
            <appender-ref ref="fileLogger" level="debug" />
        </Logger>
        -->